<div id="parser">
  <header class="row" style="background-color: {{color}}">
    <h1>{{ title  }}</h1>
  </header>

  <div class="container">
    {{#each data.story}}
      <div id="{{id}}" class="row">
        {{#ifCond type '==' 'paragraph'}}
          <p>
            {{ text }}
          </p>
        {{/ifCond }}
        {{#ifCond type '==' 'html'}}
            {{{ text }}}
        {{/ifCond }}
      </div>
    {{/each}}
  </div>

  <footer class="row">
    <div class="container">
      <p>
        from <a href="{{url}}">{{url}}</a>
      </p>
    </div>

  </footer>
</div>
